@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *************************** C O M P O N E N T E S  **************************** */

/**************************************** Barrra de navegacion *************************************/

.icon-login {
  margin-right: 12%;
}

.fa-users {
  color: white;
  font-size: 25px;
}

.dropdown-menu {
  background: rgb(6, 129, 156);
}

/* .fa-user-plus,
.fa-sign-in-alt,
.fa-person-running{
  color: white;
  margin-right: 8%;
} */

header {
  /* background: url("imagen/fondos/titulo.png"); */
  background-size: auto;
  box-shadow: #060606 0px 0px 3px 0px;
  /* z-index: 999; */
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  padding-top: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rgb(9, 98,130);
  /* clip-path: polygon(40% 52%, 100% 81%, 100% 100%, 0 100%, 0 0, 28% 0); */
}

.navbar-brand {
  padding-top: 10px;
  margin-left: 50%;
}

.navbar-brand1 {
  margin-top: -50px;
  margin-left: 90%;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
}

.titulo-page a {
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .navbar-brand {
    padding-top: 10px;
    margin-left: -10px;
    padding-left: 0;
  }

  .navbar-brand1 span {
    margin-left: 20%;
    color: transparent !important;
  }

  /* .nav-first {
    color: transparent !important;
  } */
}

@media screen and (min-width: 421px) and (max-width: 575px) {
  .navbar-brand {
    padding-top: 10px;
    margin-left: -10px;
    padding-left: 0;
  }

  .navbar-brand1 span {
    margin-left: 20%;
    color: transparent !important;
  }
}

.nav-link {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
}

.pruebados{
  background-color: white;
 width: 70%;
  background-size: 100% 100%;
  padding-top:20px ;
  margin-top: 0 !important;
  clip-path: polygon(100% 0, 100% 81%, 100% 100%, 19% 100%, 0 0, 28% 0);
}
.nav-first-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
  margin: 0 !important;
  background-color: white;
}

.nav-first {
  width: 4%;
  margin: 0 5% 1% 0;
}
.nav-first img {
  width: 100%;
}

.nav-item {
  margin-right: 10%;
}

.nav-link:hover {
  color: rgb(6, 129, 156) !important;
}


.usernav{
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.dropdown-item{
  color: white;
 
}
.dropdown-item i{
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

/* ******************************* C O M P O N E N T E - T O U R S*************************** */
/* news card */
.content-tours-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh 0vh 10vh 0vh;
}

.tours-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(25, 135, 84, 0.5);
  padding: 4px;
  margin: 4%;
}

.tours-card img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tours-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.tours-card p {
  font-size: 14px;
  text-align: justify;
}

/**************************************** C O M P O N E N T E - S L I D E R*************************************/

.box {
  /* width: 120px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
  margin-top: 5vh;
}
/* 
.card-slider-bg{
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
} */

.card-slider {
  position: relative;
  width: 300px;
  height: 350px;
  /* background: #fff; */
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(25, 135, 84, 0.5);
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
}

.card-slider:hover {
  background-color: #ffff !important;
}

.card-slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
  background: #00c3ff;
}

.card-slider:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;

  background: #ffff1c;
}

.card-slider:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card-slider:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card-slider .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card-slider:hover .imgBx {
  bottom: 80px;
}

.card-slider .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-slider .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card-slider .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card-slider .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

/* **********************C O M P O N E N T E -  S W I T C H ************************************************** */
/* Selector */
.content-input-switch {
  margin-top: 2%;
  text-align: center;
}

.selector {
  text-align: center;
  width: 30%;
  margin: auto;
  box-shadow: 1px 1px 1px 1px rgb(5, 133, 160);
}

/********************************** C O M P O N E N T -  C O M E N T A R I O  *********************************************************/

.fondo-comentario {
  /* background-color: #2b6086 !important; */
  background: url(./imagen/fondos/texture.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 70%;
  border-radius: 1rem;
  box-shadow: 2px 3px 28px -4px rgba(25, 135, 84, 0.5);
}

.name-comentario {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  /* color: #f5f5f5; */
  margin-bottom: 4%;
  margin-top: 2%;
}

/* tarjetas de imagenes */

.imagenes-comentario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.comentario-card {
  position: relative;
  width: 270px;
  height: 300px;
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
  margin: 0 auto;
  border-radius: 1em;
  /* border: 5px solid #ccc; */
}

.comentario-imag {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
  transition: 0.5s;
  z-index: 1;
}

.comentario-imag img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
}

.comentario-imag img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* contenido de usuario */

.content-usuario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.user {
  padding-top: 30px;
  font-weight: bold;
  margin-left: 8px;
}

.like {
  margin-right: 10%;
}

.btn-like {
  box-shadow: 2px 1px 1px 1px rgb(5, 133, 160);
  background-color: rgb(245, 245, 245);
}

.btn-like .fa-heart {
  font-size: 20px;
  color: black;
}

.btn-like .dos {
  font-size: 20px;
  color: red;
}

.like span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 8px;
}

/* acordion */

.accordion-item {
  border: none !important;
}

.accordion-body {
  /* background-color: #2b6086; */
  border: none !important;
  background: url(./imagen/fondos/texture.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accordion-collapse,
.accordion-button,
.accordion-header {
  background-color: rgb(240, 247, 255) !important;
  border: none !important;
  border-style: none !important;
}

.acordion-left {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.acordion-left-sub {
  display: flex;
  margin: 1%;
}

.acordion-left-sub span {
  margin-left: 2%;
  margin-top: 1%;
}

.imagen-left {
  width: 10%;
  height: 5%;
}

.imagen-left img {
  width: 100%;
}

.texto-comentario {
  text-align: justify;
  padding: 2%;
}

.comentarios-user {
  box-shadow: 0px 1px 5px 2px rgba(51, 50, 50, 0.75);
  border-radius: 20px;
  padding: 2%;
}

.acordion-box {
  box-shadow: 2px 1px 1px 1px rgb(21, 161, 189);
  background-color: rgb(217, 233, 255);
  border-radius: 20px;
  margin-bottom: 4%;
  color: black;
  padding: 1%;
}

.comentario-user-imag {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
 
}

.comentario-user-imag img {
  width: 100%;
  border-radius: 50%;
  margin-left: 5rem;
  
  
}

.comentario-user-imag p{
  margin-left: 5%;
}


.comentario-user-tex-2 {
  padding: 1% 5% 1% 5%;
  text-align: center;
}

.comentario-user-tex{
  text-align:justify ;
  padding-left: 6%;
}

.comentario-user-tex input{
  background: rgb(217, 233, 255);
  padding: 1% 2% 2% 3%;
  width: 100%;
  height: 100%;
  border: none !important;
}

.btn-delete-up{
  text-align: right;
}



.city-texarea {
  width: 100%;
  box-shadow: 2px 1px 1px 1px rgb(5, 133, 160);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}

.btn-comentario-form {
  text-align: right;
  margin-right: 10%;
  margin-top: 2%;
}

.btn-primary {
  background: #00c3ff;
  font-weight: bold;
}

.no-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 1px 1px 1px rgb(5, 133, 160);
  background-color: rgb(217, 233, 255);
  border-radius: 20px;
  margin-bottom: 4%;
  color: black;
}

.no-comments-tex {
  padding-top: 2%;
  font-size: 17px;
  text-align: center;
}

.boton-comentario-text {
  /* color: white; */
  margin-left: auto;
  font-weight: bold;
  color: rgb(5, 133, 160);
}

/* ************************************C O M P O N E N T E -  F O T E R   ****************************************** */
div.footerContainer {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  /* min-height: 55vh; */
  background-size: cover;
  background-position:center ;
}


footer .phraseNav .nameContainer h3 {
  padding-top: 2rem;
    color: white;
    font-size: 7vmin;
    font-family: "Italianno",cursive !important;
    text-align: center;

}

footer p, footer span, footer a {
  color:white;
  font-family: 'Ubuntu', sans-serif !important;
}

footer span {
  padding-bottom: .5rem;
  align-self: center;
  text-align: center;
  margin: auto;
  padding-top: 1rem;
}

footer nav {
  padding-right: 2rem; 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  
}

footer a {
  text-decoration: none;
  padding-top: 0.5rem;
  color: white;
}


div.socialMedia{
  align-self: center;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

div.nameContainer {
  width: 30%;
  
}



div.bilboPhrase{
  padding: .5rem 2rem;
  text-align: justify;
  
} 

div.finalContent{
  align-self:center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

div.phraseNav {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* ***************************** +++++++++R O U T E S +++++++++++++++******************************************** */

/* *****************************H O M E******************************************** */

.home {
  background-image: url("./imagen/fondos/fondo2Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border: 1px outset transparent;
  width: 100%;
}

.banner-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./imagen/fondos/viajes-a-medida.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 520px;
  margin-top: 12vh;
  width: 100%;
  text-align: center;
  clip-path: polygon(
    50% 0%,
    82% 0,
    100% 0,
    100% 90%,
    81% 94%,
    50% 100%,
    20% 94%,
    0 90%,
    0 0,
    21% 0
  );
}

.home-title {
 /*  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive !important;
  text-shadow: black 0.1em 0.1em 0.2em; */
  text-transform: uppercase;
  font-size: 14vmin;
  font-family: "Cinzel",serif;
  text-shadow: 1px 1px 2px #000;
  color: #efeae4;
}

.home-letter-move {
  font-size: 6vmin;
  padding-top: 3%;
  text-transform: uppercase;
  color: #ffff1c;
  text-shadow: 1px 1px 2px #000;
  font-family: "Cinzel",serif;
}

.texto-baner {
  text-align: center;
  font-size: 50px;
}

.about {
  margin: 7% auto;
 
}

.titlepage h2 {
  padding: 0px 0px 20px 0px;
  font-size: 22px;
  font-weight: bold;
  color: #050303;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: auto;
}
.titlepage h2::before {
  right: 100%;
  margin-right: 15px;
}
.titlepage h2::after {
  left: 100%;
  margin-left: 15px;
}
.titlepage h2::before,
.titlepage h2::after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #13aba6;
  top: 27px;
  width: 149px;
}

.about-parraf {
  text-align: justify;
  padding: 2%;
  line-height: 30px;
  box-shadow: -18px 17px 5px -16px #00c3ff;
  border-radius: 0px 0px 0px 22px;
  font-size: 15px;
  font-style: italic;
  text-indent: 5%;
}

.about-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-fondo-slider {
  width: 100% !important;
  background-size: cover;
  padding-bottom: 5%;
  
}

.bannertour {
  width: 100%;
}

.bannertour img {
  width: 100%;
}

.container-slid {
  margin:10% auto 5% auto;
  text-align: center;
}

.carousel {
  margin-top: 2%;
}

.carousel-item h5 {
  font-size: 15vh;
  font-weight: bold;
}

.carousel-item img {
  height: 450px;
  object-fit: cover;
}
/* *******************************R O U T E S   C I T I E S ****************************************************** */

.cities {
  background-image: url("./imagen/fondos/fondo2Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border: 1px outset transparent;
  /* margin-top: 21vh; */
  width: 100%;
}

/* Banner principal */
.banner-cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./imagen/fondos/lighthouse.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 520px;
  margin-top: 12vh;
  text-align: center;
  clip-path: polygon(
    50% 0%,
    82% 0,
    100% 0,
    100% 90%,
    81% 94%,
    50% 100%,
    20% 94%,
    0 90%,
    0 0,
    21% 0
  );
}

.cities-title {
  /* font-size: 5rem; */
 /*  color: white; */
  
  /* font-family: "Alfa Slab One", cursive !important; */
  /* text-shadow: black 0.1em 0.1em 0.2em; */
  text-transform: uppercase;
  font-size: 14vmin;
  font-family: "Cinzel",serif;
  text-shadow: 1px 1px 2px #000;
  color: #efeae4;
}


/*  */
.subtitle-principal h2{
    font-size: 7vmin;
   color: #707279;
    font-family: "Cinzel",serif;
    text-align: center;
    margin: 50px auto;
}

/* contenido de cars */

.text {
  text-align: center;
  justify-content: center;
}
.text h1 {
  margin-top: 35px;
  color: white;
}
.card_city_body {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}
.wrapper {
  width: 370px;
  height: 360px;
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.93);
  transition: box-shadow 0.5s, transform 0.5s;
  z-index: 1000;
  margin-bottom: 2%;
}

.txt_name_city {
  font-size: 25px;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
  width: 100%;
  height: 100%;
}

.wrapper .container .top {
  height: 80%;
  width: 100%;
  background-size: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: rgb(239, 238, 240);
  position: relative;
  float: left;
}

.wrapper .container .bottom .left .details {
  padding-left: 20px;
  float: left;
  width: calc(70% - 40px);
}

.wrapper .container .bottom .left .buy {
  float: right;
  height: 100%;
  background: rgb(239, 238, 240);
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 40px;
  padding: 20px;
  color: blue;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover i {
  transform: rotate(360deg);
}

.wrapper .inside {
  z-index: 9;
  background: rgb(91, 145, 198);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents h2,
.wrapper .inside .contents p {
  color: white;
}

.wrapper .inside .contents p {
  font-size: 14px;
  text-align: justify;
}

/* *******************************R O U T E S   C I T Y ****************************************************** */

.city {
  background-image: url("./imagen/fondos/fondo2Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border: 1px outset transparent;
  width: 100%;
}

.information {
  /* background:url(./imagen/prueba/city/athens2.svg); */
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4% 2% 2% 2%;
  margin-top: 12vh;
  padding-bottom: 5%;
}

.contenedor-bandera {
  width: 250px;
}

.contenedor-bandera img {
  width: 100%;
}

.city-title {
 /*  font-size: 4.5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 50px;
  text-align: left;
  letter-spacing: 5px; */
  text-transform: uppercase;
  font-size: 11vmin;
  font-family: "Cinzel",serif;
  text-shadow: 1px 1px 2px #000;
  color: #efeae4;


}

.container-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white;
  text-shadow: 1px 1px 2px #000;
  margin-top: -20px;
  
}

.information-text {
  padding: 2%;
  text-align: center;
}

.information-text p {
  font-size: 18px;
  padding: 3%;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000;
}

/* .information-lin{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1%;
}


.information-iconos{
  text-align: center !important;
  width: 9%;
  height: 9%;
} */

/* .information-iconos span{
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: bold;
} */

.city-container-image {
  width: 400px;
  height: 350px;
  padding: 1%;
}

.container-information img {
  width: 100%;
  height: 100%;
}

.imagen-central {
  box-shadow: 0px 0px 5px 3px rgba(100, 100, 100, 0.75);
  border-radius: 5%;
  object-fit: cover;
}

.imagen-central:hover {
  transform: scale(1.1);
}

.slogan {
  font-size: 7vmin;
  color: #13aba6;
 
  padding: 4% 2% 1% 2%;
 
  text-align: center;
  font-family: "Italianno",cursive !important;
}

.information-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.information-box {
  width: 260px;
  border-radius: 20px;
  padding: 15px 10px 15px 20px;
  box-shadow: 0 5px 15px rgba(25, 135, 84, 0.5);
  margin: 10px;
  background-color: white;
}

.information-box:hover {
  transform: translateY(-15px);
}

.blue {
  border-top: 7px solid blue;
  border-bottom: 7px solid blue;
}

.orange {
  border-top: 7px solid orange;
  border-bottom: 7px solid orange;
}

.red {
  border-top: 7px solid red;
  border-bottom: 7px solid red;
}
.yellow {
  border-top: 7px solid cyan;
  border-bottom: 7px solid cyan;
}

.information-box h4 {
  color: rgb(70, 91, 105);
  font-weight: bold;
}

.information-box p {
  font-size: 18px;
  text-indent: 20px;
  color: rgb(79, 102, 117);
  font-weight: 600;
}

.information-box-image {
  padding: 0;
  text-align: right;
}

/* *******************************R O U T E S   S I G N I N ****************************************************** */
.login {
  background-image: url("imagen/fondos/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border: 1px outset transparent;
}

.contenedor-login {
  height: 100%;
  align-content: center;
  margin-top: 50vh;
  margin-bottom: 40vh;
}

.card-login {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-align: center;
}

.card-header-login h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

form i {
  font-size: 25px;
}

/* *********************************** R O U T E S    S I G N U P *************************************************** */


.register {
  background-image: url("imagen/fondos/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 10%;
  
  
}

.title-siginup{
  text-align: center;
  color: white;
  margin: 5%;

 
}

.title-siginup h1{
  font-size: 8vmin;
  color: white;
  font-family: "Cinzel",serif;
  text-shadow: 1px 1px 2px #000;
}

.title-siginup h4{
  font-size: 5vmin;
  font-weight: bold;
  font-family: "Cinzel",serif;
  color: white;
  text-shadow: 1px 1px 2px #000;
  }
.contenedor-signup{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

/* .contenedor-register {
  height: 100%;
  align-content: center;

} */


div.benefitsContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6vw;
  color: whitesmoke;
}


div.benefitsContainer .description{
  margin: 3vh 0;
  display: flex;
  text-shadow: 1px 1px 2px #000;
}

div.description{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 1px 1px 2px #000;

}

div.description img{
  width: 120px;
  margin-right: 1em;
}

.card-register {
  /* height: 460px; */
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-align: center;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

form i {
  font-size: 25px;
}

.content-btn-signup{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.signupbtn-faceb{
  text-align: center;
  padding: 10px;
  font-size: 15px;
  color: white;
  background: rgb(76, 105, 186);
 

  
}

.boton-goog-face{
  margin: 1%;
 
  
}

.signupbtn-faceb .iconface{
  color: white;
  margin-right: 5px;
  font-size: 20px;

 
}

.content-changeUser{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.changeUser{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0px 2px 3px 2px rgba(255, 254, 254, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 text-align: center;
  
}

.changeUser img{
  width: 100%;
}

.content-changeUser p{
  padding: 5px;
  color: #ffc312;
}




/* *********************************** R O U T E S    D A T O S  - - U S E R *************************************************** */



.main-datosUser{
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.usuario{
  margin-top: 8%;
}

.datosUser {
  
  background:url("./imagen/datouser/bguserc.svg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding-top: 15vh;
  
}

.user-title{
  text-transform: uppercase;
  font-size: 14vmin;
  font-family: "Cinzel",serif;
  text-shadow: 1px 1px 2px #000;
  color: #efeae4;
  text-align: center;
}

.subtitle-principal-user h2{
  font-size: 7vmin;
  color: #efeae4;
  font-family: "Cinzel",serif;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin: 50px auto;
}

.content-marco{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 5vh;

}


.marco{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px) saturate(100%) brightness(130%);
  box-shadow: -1px 3px 91px -4px rgba(0,0,0,0.75);
  background-position: center;
}

.marco img{
  width: 100%;
  border-radius:50% ;
}


.marco-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2%;
  color: whitesmoke;
  
}

.marco-info h5{
  backdrop-filter: blur(25px) saturate(100%) brightness(130%);
}




/* itinerarios user */

.myItinerari{
  text-align: center;
}
.container-user-itinerari{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}


.content-user-itinerari{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(25, 135, 84, 0.5);
}

.content-user-itinerari h5{
  text-align: center;
  padding: 1rem;
}


.content-user-itinerari-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem;

}

.content-img{
  height: 100px;
  width: 150px;
  object-fit: cover;
  border: 2px solid yellow;
  border-radius: 2rem;
  

}

.content-img img{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.content-user-itinerari-comment{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  padding: 1rem;
}

.content-user-itinerari-comment p{
  text-align: justify;
}




/* *********************************** R O U T E S    C O N T I N E N T *************************************************** */

.continent{
  margin-top: 5%;
}
 



.continent-image {

  margin-top: 6%;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4% 2% 0% 2%;
 
 

}

.subtitle-principal-continent h2{
  font-size: 7vmin;
  color: #707279;
  font-family: "Cinzel",serif;
  text-align: center;
  margin-top: -8%;
  margin-bottom: 2%;
   
}




.continent-image img{
  width: 100%;
}

.contenedor-btn-continent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.container-btn-continent{
 
  margin: 0% 2% 2% 2%;
  background-color: white;
  border: 2px solid transparent;
  box-shadow: 1px 2px 17px 0px  rgb(5, 133, 160);
  border-radius: 1rem;
  padding: 2px;
}



.container-btn-continent:hover{
  transform: translateY(10px);
}

.btn-continent{
  width: 60px;
  height: 60px;
  border: none;
  background-color: white;
}

.btn-continent img{
  width: 100%;
  border-radius: 1rem; 
}


.btn-continent1 {
  height: 10vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .btn-continent1 {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.globo-back-cities{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
}





/* cardddddd continent */
.portfolio__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  margin: auto;

}


.flip-container {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px; 
  margin: 1rem;
  

}

.portfolio__card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 1px 2px 17px 0px  rgb(5, 133, 160);
  border-radius: 2rem;
  padding: 0 !important;

  background: transparent;
  
}


.flip-container:hover .portfolio__card {
  transform: rotateY(180deg);
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);


}
.front {

border-radius: 1rem;

  
}

.front img{
    width: 100%;
    height: 100%;
    
border-radius: 1rem;
    object-fit: cover;
}


.back {
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  border-radius: 1rem;
  border: 5px solid  rgb(9, 98,130);;
}


.back p{
  text-align: justify;
  padding: 1% 3% 1% 3%;
  font-size: 12px;
}


.back h4{
  text-transform: uppercase;
  text-align: center;
}

.back h6{
  text-align: left !important;
}



/********************************************** M E D I A -Q U E R Y************************ */

@media screen and (min-width: 992px) and (max-width: 1280px) {
  /* .banner-home, .banner-cities, .banner-city{
      margin-top: 50%;

  } */

  .titlepage h2 {
    font-size: 22px;
    line-height: 40px;
  }
  .titlepage h2::before,
  .titlepage h2::after {
    top: 20px;
    width: 129px;
  }

  .nav-first {
    width: 4%;
  }
  .contenedor-bandera {
    margin-top: 40px;
  }

  .continent{
    margin-top: 12%;
  }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .titlepage h2 {
    font-size: 20px;
    line-height: 40px;
  }
  .titlepage h2::before,
  .titlepage h2::after {
    top: 20px;
    width: 84px;
  }

  .home-letter-move {
    font-size: 3rem;
  }

  .no-comments-tex {
    font-size: 14px;
  }

  .nav-first {
    width: 6%;
  }

  .contenedor-bandera {
    margin: 50px auto;
  }

  .swiper-city {
    width: 180px !important;
  }


  .benefitsContainer{
    width: 100% !important;
}


.title-siginup{
  
  
  margin: 12% 0% 10% 0%;
}


.pruebados{
  width: 90%;
}


.continent{
  margin-top: 15%;
}




}

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* .banner-home,
  .banner-cities,
  .banner-city {
    margin-top: 15%;
  } */

  .home-title,
  .cities-title {
    font-size: 4rem;
  }

  .city-title {
    font-size: 4rem;
    text-align: center;
  }

  .home-letter-move {
    font-size: 2rem;
  }

  .about-image img {
    text-align: center;
    width: 60%;
  }
  .about-image {
    margin-top: 2%;
    text-align: center;
  }

  .titlepage h2 {
    font-size: 18px;
    line-height: 40px;
  }
  .titlepage h2::before,
  .titlepage h2::after {
    top: 20px;
    width: 57px;
  }

  .fondo-comentario {
    width: 75% !important;
  }

  .no-comments-tex {
    font-size: 12px;
  }

  .nav-first {
    width: 6%;
  }

  .contenedor-bandera {
    margin: 50px auto;
  }

  .swiper-city {
    width: 150px !important;
  }

  
  .datoUser-subtitle{
    font-size: 2rem;
  }

  .benefitsContainer{
    width: 100% !important;
}

.title-siginup{
  
  
  margin: 15% 0% 10% 0%;
}

.pruebados{
  width: 90%;
}


.continent{
  margin-top: 18%;
}




}

@media screen and (max-width: 575px) {
  /* .banner-home,
  .banner-cities,
  .banner-city {
    margin-top: 20%;
    padding-top: 100px;
  } */

  .home-title,
  .cities-title {
    font-size: 3rem;
  }

  .city-title {
    font-size: 3rem;
    text-align: center;
  }

  .home-letter-move {
    font-size: 2rem;
  }

  .about-image img {
    text-align: center;
    width: 60%;
  }
  .about-image {
    margin-top: 2%;
    text-align: center;
  }

  .flip {
    width: 30vw;
  }

  .selector {
    width: 50%;
  }

  .titlepage h2 {
    font-size: 16px;
    line-height: 34px;
  }

  .titlepage h2::before,
  .titlepage h2::after {
    top: 20px;
    width: 0px;
  }

  .fondo-comentario {
    width: 85% !important;
  }

  .no-comments-tex {
    font-size: 12px;
  }

  .nav-first {
    width: 6%;
  }

  .contenedor-bandera {
    margin: 50px auto;
  }

  .swiper-city {
    width: 130px !important;
  }

  .content-tours-card {
    margin: 2vh 0vh;
  }

  .tours-card {
    width: 200px;
  }

  
  .datoUser-subtitle{
    font-size: 1.7rem;
  }

  .benefitsContainer{
    width: 100% !important;
}

  .title-siginup{
    margin: 20% 0% 10% 0%;  
  }

  .pruebados{
    width: 100%;
  }

  .continent{
    margin-top: 21%;
  }


}

@media screen and (min-width: 421px) and (max-width: 574px) {
  .swiper-city {
    width: 130px !important;
    margin: 5px auto !important;
  }

  .continent{
    margin-top: 26%;
  }

  .btn-continent{
    width: 30px;
    height: 30px;
    text-align: center;
    
  }

.datosUser{
  padding-top: 20vh;
}

.content-marco{
  padding-top: 10%;
}
  .marco{
    height: 150px;
    width: 150px;
  }

  .marco-info h5{
    font-size: 15px;
  }

}

@media screen and (max-width: 420px) {
  /* .banner-home,
  .banner-cities,
  .banner-city {
    margin-top: 20%;
    padding-top: 100px;
  } */

  .home-title,
  .cities-title {
    font-size: 1.5rem;
  }

  .city-title {
    font-size: 2rem;
    text-align: center;
  }

  .home-letter-move {
    font-size: 1rem;
  }

  .fondo-comentario {
    width: 95% !important;
  }

  .no-comments-tex {
    font-size: 11px;
  }

  .nav-first {
    width: 6%;
  }

  .contenedor-bandera {
    margin: 50px auto;
  }

  .comentario-card {
    width: 200px;
    height: 150px;
  }

  .swiper-city {
    width: 120px !important;
    margin: 5px auto !important;
  }

  .about-image img {
    text-align: center;
    width: 80%;
  }

  .datoUser-title{
    font-size: 2rem;
  }
  
  .datoUser-subtitle{
    text-align: center;
    font-size: 1.5rem;
  }

  .benefitsContainer{
    width: 100% !important;
  }

  .title-siginup{
  
    margin: 30% 0% 10% 0%;
  
  }
  .pruebados{
    width: 100%;
  }

  .container-btn-continent h6{
    font-size: 4vmin;
  }
  .btn-continent{
    width: 25px;
    height: 25px;
    text-align: center;
    
  }

  .continent{
    margin-top: 32%;
  }

  
.continent-image {

  margin-top: 30%;
 
 

}

.datosUser{
  padding-top: 20vh;
}

.content-marco{
  padding-top: 10%;
  text-align: center;
  justify-content: center;
}
  .marco{
    height: 150px;
    width: 150px;
  }



  .marco-info h5{
    font-size: 15px;
  }


}

.slider-static {
  width: 100%;
  height: 400px;
  background: url(./imagen/fondos/fondosliderstatic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4%;
  padding-bottom: 4%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 250px !important;
  height: 300px !important;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pppppppppppppppp        CAROUSEL CITYpppppppppppppppppppppppppppppppp */

.carousel-city-bg {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  background-image: url("./imagen/fondos/fondoslidercity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  text-align: center !important;
  object-fit: cover;
}

.carousel-city-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.swiper-city {
  width: 400px;
  margin: 50px auto;
}

.swiper-slide-city {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}


.search-cont{
  margin: 10px;
}

.user-nabvar-name{
  color: white;
  margin-left:5px ;
}